@charset "utf-8";
/* CSS Document */
.h1{
	color:#FF9;
	alignment-baseline:central;
}

.h2{
	color:#FFF;
	alignment-baseline:central;
}

.h3{
	color:#FF0;
	alignment-baseline:central;
}

.h4{
	color:#0F0;
	alignment-baseline:central;
}